<section class="hero is-danger">
  <div class="hero-body">
    <div class="container">
      <div class="title">
        データ復旧　コメント一覧
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <div class="card mb-6">
          <div class="card-content">
            <div class="pic">
              <%= attachment_image_tag @service, :image %>
            </div>
            <div class="content average-score">
              <div class="star-rating mb-2">
                <div class="star-rating-front" style="width: <%= @service.review_score_percentage %>%">★★★★★</div>
                <div class="star-rating-back"></div> 
              </div>
              <div class="average-score-display" ml-3 pt-2>
                平均 <%= @service.avg_score %>点 (<%= @service.reviews.count %>件のコメント)
              </div>
            </div>
             <table class="table is-fullwidth has-text-centered">
              <thead>
                <tr>
                  <th>ユーザー</th><th>点数(5点満点)</th><th>内容</th>
                </tr>
              </thead>
              <tbody>
                <% @reviews.each do |review| %>
                  <tr>
                    <td><%= review.user.username %></td>
                    <td><%= review.score %></td>
                    <td><%= review.content %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</section>